body {
  background-color: rgb(40, 29, 29);
  font-family: 'Times New Roman', Times, serif;
  text-align:left;
  padding: 10px;
  color: white;
  
}
img.el {
  width: 300px;
  height: 300px;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
}

.userName {
  margin-left:300px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: large;
}
.animalSections{
  margin-left:320px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: large;
  margin-bottom:10px;
  
}
.catRoom {
  margin-left:340px;
  font-family:'Times New Roman', Times, serif;
  font-weight:100;
  font-size: large;
}
ul{
  list-style-type: none; /* removing the dots */
  padding-left: 0;
}

a.Intro{
  margin-bottom: 10px;
  display: inline-block; /* allowing the padding from next line */
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin-left: 10px;
  color:white;

}

#Introducing-the-zoo{
  clear:both;
  margin-top: 100px;
  margin-left: 330px;
  font-family:'Times New Roman', Times, serif;  
  font-style: oblique;
  color:aliceblue
  
 
}

.eg{
  width: 200px;
  height: 300px;
  border-radius: 10px;
  
}

.IntroPara{
  margin-left: 350px;
  margin-top: -400px;
}

.tiger{
  width: 200px;
  height: 300px;
  border-radius: 10px;
}

.deer{
  width: 200px;
  height: 300px;
  border-radius: 10px;
}

.fish{
  width: 200px;
  height: 300px;
  border-radius: 10px;
}

.dog{
  width: 200px;
  height: 300px;
  border-radius: 10px;
}
.woofwoof{
  width: 200px;
  height: 300px;
  border-radius: 10px;
}